In [1]:
import warnings
warnings.filterwarnings('ignore')
from elasticsearch import Elasticsearch, helpers
import pandas as pd
import os
import sys
import logging
import numpy as np
from tqdm import tqdm
import string

data_dir = '../../data/recommendation'

# Loading data

In [2]:
books = pd.read_csv(os.path.join(data_dir, 'Books.csv')).dropna()

# users = pd.read_csv(os.path.join(data_dir, 'Users.csv'))
user_ratings = pd.read_csv(os.path.join(data_dir, 'Ratings.csv'))

In [3]:
books.info()
books.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271354 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271354 non-null  object
 1   Book-Title           271354 non-null  object
 2   Book-Author          271354 non-null  object
 3   Year-Of-Publication  271354 non-null  object
 4   Publisher            271354 non-null  object
 5   Image-URL-S          271354 non-null  object
 6   Image-URL-M          271354 non-null  object
 7   Image-URL-L          271354 non-null  object
dtypes: object(8)
memory usage: 18.6+ MB

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
user_ratings.info()
user_ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
def weighted_rating(v, R, C,m=5):
    w_r =  (v/(v+m))*R + (m/(m+v))*C
    return w_r

In [6]:
%%time
m=5
R = user_ratings[['ISBN', 'Book-Rating']].groupby(['ISBN'], as_index=True).mean()
C = user_ratings['Book-Rating'].mean()
df = pd.concat([R, user_ratings.groupby(['ISBN'], as_index=True).size().to_frame()],axis=1)
df['weighted_average'] = df.apply(lambda row: (row[0]/(row[0]+m))*row['Book-Rating'] + (m/(row[0]+m))*C, axis=1)
df.head()

Wall time: 14.6 s

             Book-Rating  0  weighted_average
ISBN
 0330299891          3.0  2          2.904964
 0375404120          1.5  2          2.476393
 0586045007          0.0  1          2.389125
 9022906116          3.5  2          3.047822
 9032803328          0.0  1          2.389125

# Data analysis and processing

In [7]:
%%time
word = [i.split(' ') for i in books['Book-Title']]
word = list(set([k.translate(str.maketrans('', '', string.punctuation)) for k in [i for s in word for i in s]]))
word = [{'_id': idx, 'name': w} for idx,w in enumerate(word)]

title = [{'_id': idx,
          'ID_book': row['ISBN'],
          'name': row['Book-Title'], 
          'processed': row['Book-Title'].lower(),
          'author': row['Book-Author'], 
          'year': row['Year-Of-Publication'],
          'Publisher': row['Publisher'],
          'url': row['Image-URL-M'],
          'weighted_ratings':-1 if row['ISBN'] not in df.index else df.loc[row['ISBN'],'weighted_average']} for idx, row in tqdm(books.iterrows(), position=0)]

271354it [00:45, 5953.97it/s]

Wall time: 49.8 s

# Search engine

In [8]:
class Search():
    def __init__(self, index_name, type_doc):
        super().__init__()
        self.logger = logging.getLogger(__name__)
        self.__es = Elasticsearch([{'scheme': 'http', 'host':'localhost','port':9200}], basic_auth=('admin', 'es_pw'))
        
        self.__type_doc = type_doc
        self.__index_name = index_name
        if self.__es.indices.exists(index=self.__index_name):
            self.logger.debug('Deleting existing index ' + self.__index_name)
            self.__es.indices.delete(index=self.__index_name)
        
        self.__es.indices.create(index=self.__index_name)
        self.__es.cluster.health(wait_for_status='yellow')
    
    def index(self, type_name, id_value, content):
        self.logger.debug('index %s/%s : %s', type_name, id_value, content)
        self.__es.index(index=self.__index_name, doc_type=type_name, id=id_value, body=content)
        
    def upload_content_bulk(self, data):
        helpers.bulk(self.__es, data, index=self.__index_name,doc_type=self.__type_doc, request_timeout=200)
    
    def map(self, type_name, mapping):
        self.logger.debug('map %s', type_name)
        self.__es.indices.put_mapping(index=self.__index_name, doc_type=type_name, body={type_name: mapping})
    
    def search(self, type_name):
        query = {"query": {"fuzzy": {"name": type_name}}}
        return self.__es.search(index=self.__index_name, body=query)
    
    def search_book(self, type_name):
#         query = {"query": {"multi_match": {"query": type_name,}}}
        query = {"query":{"fuzzy" : { "processed" : type_name.lower()}}}
        return self.__es.search(index=self.__index_name, body=query)
    
    def search_author(self, type_name):
        query = {"query":{"fuzzy" : { "name" : type_name}}}
#         self.logger.debug('search %s : %s', type_name, query)
        return self.__es.search(index=self.__index_name, body=query)
    
    def get(self, type_name, id_value):
        self.logger.debug('get %s/%s', type_name, id_value)
        document = self.__es.get(index=self.__index_name, doc_type=type_name, id=id_value)
        self.logger.debug('got document ' + document)
        return document
    
    def delete(self, type_name, id_value):
        self.logger.debug('delete %s/%s', type_name, id_value)
        self.__es.delete(index=self.__index_name, doc_type=type_name, id=id_value)

    def optimize(self):
        """ 
        forcemerge allows removal of deleted documents and reducing the number of segments
        (documents are marked as tombstone [like cassandra] but not purged from the segment's 
        index for performance reasons)
        """
        self.logger.debug('optimize')
        self.__es.forcemerge(self.__index_name)

    @property
    def es(self):
        return self.__es

    def __eq__(self, other):
        return self.__es == other.__es

    def __str__(self):
        return self.__es.__str__()

    def __hash__(self):
        return self.__es.__hash__()

In [9]:
%%time
es_typo = Search(index_name='typo_check',type_doc='word')
es_typo.upload_content_bulk(word)

Wall time: 8.53 s

In [10]:
%%time
r = es_typo.search('Clara')

r['hits']['hits']

Wall time: 7.2 ms

[{'_index': 'typo_check',
  '_type': 'word',
  '_id': '56779',
  '_score': 8.96181,
  '_source': {'name': 'Clara'}},
 {'_index': 'typo_check',
  '_type': 'word',
  '_id': '78208',
  '_score': 8.96181,
  '_source': {'name': 'Klara'}},
 {'_index': 'typo_check',
  '_type': 'word',
  '_id': '87309',
  '_score': 8.401697,
  '_source': {'name': 'Lara'}}]

# Book title search

In [11]:
%%time
es_book = Search(index_name='book_name', type_doc='book')
es_book.upload_content_bulk(title)

Wall time: 30.1 s

In [12]:
%%time
r = es_book.search_book('Clara')

r['hits']['hits']

Wall time: 11.3 ms

[{'_index': 'book_name',
  '_type': 'book',
  '_id': '1',
  '_score': 11.597302,
  '_source': {'ID_book': '0002005018',
   'name': 'Clara Callan',
   'processed': 'clara callan',
   'author': 'Richard Bruce Wright',
   'year': 2001,
   'Publisher': 'HarperFlamingo Canada',
   'url': 'http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg',
   'weighted_ratings': 4.386039526096983}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '160199',
  '_score': 11.597302,
  '_source': {'ID_book': '0345250702',
   'name': 'Clara Reeve',
   'processed': 'clara reeve',
   'author': 'Leonie Hargrave',
   'year': 1976,
   'Publisher': 'Ballantine Books',
   'url': 'http://images.amazon.com/images/P/0345250702.01.MZZZZZZZ.jpg',
   'weighted_ratings': 2.3891251659737804}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '20962',
  '_score': 10.6244335,
  '_source': {'ID_book': '1931561168',
   'name': "Clara Mondschein's Melancholia",
   'processed': "clara mondschein's melancholia",
   'author': 'Anne Raeff',
   'year': 2002,
   'Publisher': 'MacAdam/Cage Publishing',
   'url': 'http://images.amazon.com/images/P/1931561168.01.MZZZZZZZ.jpg',
   'weighted_ratings': 1.592750110649187}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '55072',
  '_score': 10.6244335,
  '_source': {'ID_book': '0312135084',
   'name': 'Henry and Clara',
   'processed': 'henry and clara',
   'author': 'Thomas Mallon',
   'year': 1995,
   'Publisher': 'Picador USA',
   'url': 'http://images.amazon.com/images/P/0312135084.01.MZZZZZZZ.jpg',
   'weighted_ratings': 2.6667955450766074}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '116266',
  '_score': 10.6244335,
  '_source': {'ID_book': '0449231577',
   'name': 'Late Clara Beame',
   'processed': 'late clara beame',
   'author': 'Taylor Caldwell',
   'year': 1976,
   'Publisher': 'Fawcett Books',
   'url': 'http://images.amazon.com/images/P/0449231577.01.MZZZZZZZ.jpg',
   'weighted_ratings': 2.0478215708346688}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '43239',
  '_score': 10.6244335,
  '_source': {'ID_book': '0743238532',
   'name': 'Clara : A Novel',
   'processed': 'clara : a novel',
   'author': 'Janice Galloway',
   'year': 2004,
   'Publisher': 'Simon &amp; Schuster',
   'url': 'http://images.amazon.com/images/P/0743238532.01.MZZZZZZZ.jpg',
   'weighted_ratings': 2.5927501106491873}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '204941',
  '_score': 10.6244335,
  '_source': {'ID_book': '0684844494',
   'name': 'Clara : A Novel',
   'processed': 'clara : a novel',
   'author': 'Janice Galloway',
   'year': '2003',
   'Publisher': 'Simon &amp; Schuster',
   'url': 'http://images.amazon.com/images/P/0684844494.01.MZZZZZZZ.jpg',
   'weighted_ratings': 2.3891251659737804}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '99099',
  '_score': 10.114372,
  '_source': {'ID_book': '8440679319',
   'name': 'Cara a Cara',
   'processed': 'cara a cara',
   'author': 'Clark Carlton',
   'year': 1998,
   'Publisher': 'Ediciones B',
   'url': 'http://images.amazon.com/images/P/8440679319.01.MZZZZZZZ.jpg',
   'weighted_ratings': 3.904964427977526}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '102406',
  '_score': 9.802155,
  '_source': {'ID_book': '0815410255',
   'name': "Clara Bow: Runnin' Wild",
   'processed': "clara bow: runnin' wild",
   'author': 'David Stenn',
   'year': 2000,
   'Publisher': 'Cooper Square Press',
   'url': 'http://images.amazon.com/images/P/0815410255.01.MZZZZZZZ.jpg',
   'weighted_ratings': 3.7224584993071135}},
 {'_index': 'book_name',
  '_type': 'book',
  '_id': '150000',
  '_score': 9.802155,
  '_source': {'ID_book': '0819310573',
   'name': 'Clara Joins the Circus',
   'processed': 'clara joins the circus',
   'author': 'Michael Pellowski',
   'year': 1982,
   'Publisher': 'Granite Impex Ltd',
   'url': 'http://images.amazon.com/images/P/0819310573.01.MZZZZZZZ.jpg',
   'weighted_ratings': 2.3891251659737804}}]